In [1]:
import pandas as pd
from textblob import TextBlob
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('data.csv',encoding = "ISO-8859-1")
data = data.drop('Status',axis=1)

In [4]:
data.head()

                                              Review
0  This novel contains rare combination of entert...
1  This book provides refreshing side of today's ...
2              This is a must read book for everyone
3  It is one of the best fantasy-adventure novel ...
4  The writer of this novel did a great job provi...

In [5]:
data['Polarity'] = data['Review'].apply(lambda x:TextBlob(x).sentiment.polarity)

In [6]:
data.head()

                                              Review  Polarity
0  This novel contains rare combination of entert...       0.3
1  This book provides refreshing side of today's ...       0.5
2              This is a must read book for everyone       0.0
3  It is one of the best fantasy-adventure novel ...       1.0
4  The writer of this novel did a great job provi...       0.8

In [7]:
data['pol_cat'] = data['Polarity'].apply(lambda x:1 if x>0 else -1)

In [8]:
data.head()

                                              Review  Polarity  pol_cat
0  This novel contains rare combination of entert...       0.3        1
1  This book provides refreshing side of today's ...       0.5        1
2              This is a must read book for everyone       0.0       -1
3  It is one of the best fantasy-adventure novel ...       1.0        1
4  The writer of this novel did a great job provi...       0.8        1

In [9]:
data['Review'] =  data['Review'].str.lower().str.strip()

In [12]:
stop_words = set(stopwords.words('english'))

def remove_stopwords(line):
    word_tokens = word_tokenize(line)
    filterd_sentence= [w for w in word_tokens if not w in stop_words]
    return " ".join(filterd_sentence)

In [13]:
data['stop_comments'] = data['Review'].apply(lambda x:remove_stopwords(x))

In [14]:
data.head()

,Review,Polarity,pol_cat,stop_comments
0,this novel contains rare combination of entert...,0.3,1,novel contains rare combination entertainment ...
1,this book provides refreshing side of today's ...,0.5,1,book provides refreshing side today 's world
2,this is a must read book for everyone,0.0,-1,must read book everyone
3,it is one of the best fantasy-adventure novel ...,1.0,1,one best fantasy-adventure novel ever
4,the writer of this novel did a great job provi...,0.8,1,writer novel great job providing informative s...

In [15]:
X_train,X_test,Y_train,Y_test = train_test_split(data['stop_comments'],data['pol_cat'],test_size=0.1,random_state=324)

In [17]:
vect = CountVectorizer()

tf_train = vect.fit_transform(X_train)
tf_test = vect.transform(X_test)

In [19]:
from sklearn.linear_model import LogisticRegression

In [25]:
data

,Review,Polarity,pol_cat,stop_comments
0,this novel contains rare combination of entert...,0.300000,1,novel contains rare combination entertainment ...
1,this book provides refreshing side of today's ...,0.500000,1,book provides refreshing side today 's world
2,this is a must read book for everyone,0.000000,-1,must read book everyone
3,it is one of the best fantasy-adventure novel ...,1.000000,1,one best fantasy-adventure novel ever
4,the writer of this novel did a great job provi...,0.800000,1,writer novel great job providing informative s...
...,...,...,...,...
134,the novel was good but quite ordinary story,0.225000,1,novel good quite ordinary story
135,i don't love it but i don't hate it either,-0.150000,-1,n't love n't hate either
136,i am having love and hate mixed feeling about ...,-0.100000,-1,love hate mixed feeling novel
137,there are many other better novels than this o...,0.291667,1,many better novels one want also read one
138,"i am in dilemma, this novel is in the middle o...",0.000000,-1,"dilemma , novel middle 2 3 rating"

In [20]:
lr = LogisticRegression()

In [21]:
lr.fit(tf_train,Y_train)

LogisticRegression()

In [23]:
c = vect.transform([remove_stopwords("this is very good")])

In [24]:
lr.predict(c)

array([1], dtype=int64)

In [29]:
TextBlob("this is fine").sentiment.polarity

0.4166666666666667